<!DOCTYPE html>
<html lang="en">
<head>
	<title>PayBack</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Pay Back"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	{% block head %}
    {% endblock %}
</head>
<body>

  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  {% block script %}
  {% endblock %}



</body>
</html>
