<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Custom Bill Split</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Person A owes</label>
  <div class="controls">
    <input id="textinput" name="textinput" type="text" placeholder="Insert amount" class="input-xlarge">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput2">Person B owes</label>
  <div class="controls">
    <input id="textinput2" name="textinput2" type="text" placeholder="Insert amount" class="input-xlarge">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput3">Person C owes</label>
  <div class="controls">
    <input id="textinput3" name="textinput3" type="text" placeholder="Insert amount" class="input-xlarge">
    
  </div>
</div>
<button type="button" class="btn btn-success btn-lg btn-block">
Split it<span class="glyphicon glyphicon-chevron-right"></span>
</button></td>
				
</fieldset>
</form>
