<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pay Back</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Pay Backis a minimal, clean HTML5 multi-purpose template, well-coded & commented code"/>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>

		<div class="wrapper">
			<a href="#" class="logo"> <img src="img/logo.png" alt="" title="Minima"/> </a>
			<nav>
				<ul>
					<li><a href="">My Account</a></li>
					<li><a href="">Friends</a></li>
					<li><a href="">Our Team</a></li>
					<li><a href="">Journal</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</div>
		
	</header><!-- End Header -->

	<section class="billboard">
		<section class="caption">
			<p class="cap_title">Pay Back</p>
			<p class="cap_desc">PAY YOUR FRIENDS BACK FOR COVERING DINNER WITH A SNAP OF A PHOTO</p>
			<a href="#">Login with Venmo<i></i></a>
		</section>
	</section><!-- End billboard -->

	<section class="services wrapper">
		<ul>
			<li>
				<img class="s_icons" src="img/s1_icon.png" title="" alt=""/>
				<h3>FREE</h3>
				<p>Sending money on Venmo is completely free as long as you use a bank account, supported debit card, or Venmo balance to fund your payments. If you choose to use a credit card, there is a 3% fee. 
</p>		
			</li>
			<li>
				<img class="s_icons" src="img/s2_icon.png" title="" alt=""/>
				<h3>DIRECT</h3>
				<p>Upload your groups picture onto our app and we'll make sure to send your friends their portion of the bill. We will have the payment directly into your back account.</p>		
			</li>
			<li>
				<img class="s_icons" src="img/s3_icon.png" title="" alt=""/>
				<h3>SECURE</h3>
				<p>We use bank-grade security systems and data encryption to protect you and prevent against any unauthorized transactions or access to your personal or financial information.</p>		
			</li>
		</ul>
	</section><!-- End services -->



	<section class="social">
			<a href="http://facebook.com/pixelhint" target="_blank" class="fb"></a>
			<a href="http://twitter.com/pixelhint" target="_blank" class="t"></a>
			<a href="http://dribbble.com/pixelhint" target="_blank" class="d"></a>
			<a href="#" target="_blank" class="g"></a>
	</section><!-- End social -->



	<footer>
		<div class="wrapper">
			<div class="f_cols">
				<h3>Location</h3>
				<p>1401 South Grand Avenue Los Angeles, CA 90015 <span class="phone">(213) 748-2411</span></p> 	
				<a href="#" class="map">see it in the map <span class="arrow">&nbsp;&rarr;</span></a>	
			</div>	

			<div class="f_cols">
				<h3>Company</h3>
				<ul>
					<li><a href="#">Our Story</a></li>
					<li><a href="#">Mission</a></li>
					<li><a href="#">Journal</a></li>
					<li><a href="#">Careers</a></li>
				</ul>	
			</div>	

			<div class="f_cols">
				<h3>Support</h3>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Policies</a></li>
				</ul>	
			</div>	

			<div class="f_cols">
				<h3>Minima.</h3>
				<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Template made by <a href="http://pixelhint.com" target="_blank">pixelhint.com</a></p>
			</div>	


		</div>
	</footer><!-- End footer -->

	<div id="lightbox"></div>
	<div id="box">
		<a href="" class="close"></a>
		<form method="" action="">
			<input type="text" id="email" placeholder="Email"/>
			<input type="text" id="name" placeholder="Name"/>
			<input type="submit" id="submit" value="Subscribe Now"/>
		</form>
	</div>
</body>