{% macro render_flashed() -%}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{%- endmacro %}

{% macro disable_uploader(do_button_style=True) -%}
  <script>
	$(document).ready(function () {
		$("#file-selector").change(function() {
			if($(this).val()) {
				$("#upload-button").attr("disabled", false);
            {% if do_button_style %}
				$("#upload-button").
                  removeClass("btn-warning").addClass("btn-success");
            {% endif %}
			}
		});
	});
  </script>
{%- endmacro %}


{% macro multifile_upload() -%}
  <form method="POST" action="" enctype="multipart/form-data">
	<div class="input-group">
	  <span class="btn btn-default btn-file">
	    <input id="file-selector" type="file" name="set" multiple>
		Select files
	  </span>
	  <button id="upload-button" type="submit" class="btn btn-warning"
              disabled>
        Upload
      </button>
	</div>
  </form>
{% endmacro %}

{% macro facebook_init() -%}
  <script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '568181326626588',
			xfbml      : true,
			version    : 'v2.0'
		});
    };

  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{%- endmacro %}