{% extends "base.html" %}
{% from "macro.html" import render_flashed, disable_uploader, multifile_upload %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/file-up.css">
{% endblock %}

{% block content %}

    <div class="col-lg-10">
    <a href="#" class="logo"> <img src="img/logo.png" alt="" title="Minima"/> </a>
    <h1>Hi {{ username }}!</h1>

    {{ render_flashed() }}

    <ul class="list-group">
      <li class="list-group-item"><a href="{{url_for('render_simple_upload')}}">create a bill</a></li>

    <!--   <li class="list-group-item"> -->
	<!-- <a href="">link your Facebook to upload profile images</a> -->
    <!--   </li> -->

      <li class="list-group-item">
	Upload training images. No image may be larger than 2 MB.
      </li>
      {{ multifile_upload("proc_file") }}
      <li class="list-group-item"><a href="{{url_for('logout')}}">logout</a></li>
    </ul>
  </div>

{% endblock %}

{% block script %}
{{ disable_uploader() }}
{% endblock %}