{% extends "base.html" %}
{% from "macro.html" import disable_uploader %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/file-up.css">
{% endblock %}

{% block content %}
<p> Welcome to Payback! Before we continue, we need to do some setup
so that we'll recongnize you later.</p>

<p> First, select a clear image of your face to upload here. </p>

<form id="submit" method="POST", action="process_facebook">
  <span id="file-selector" class="btn btn-default btn-file">
    Browse <input type="file">
  </span>
</form>


<p> Next, authorize us to log in
<div id="upload-button" class="fb-login-button" data-max-rows="1" data-size="xlarge"
     data-show-faces="true" data-auto-logout-link="false" disabled>
</div>
{% endblock %}

{% block script %}
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
  FB.init({
      appId      : '568181326626588',
      xfbml      : true,
      version    : 'v2.0'
    });


  FB.getLoginStatus (function(response) {
      console.log("Got a response from Facebook.");
      console.log("Response: ", response);

      if(response.status == 'connected') {
        $("#submit").submit();
      } else {
        console.log("Something went wrong!");
      }
    });
}

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    cookie = true;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=568181326626588&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{{ disable_uploader(do_button_style=False) }}

{% endblock %}